/* You can add global styles to this file, and also import other style files */
/* styles.scss */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%) !important;
    min-height: 100vh;
}

app-root {
    display: block;
    min-height: 100vh;
}